<ol class="parametres" ng-repeat="button in buttonStyles | filter:{id: buttonId}" add-parameter="hiddenInput">
    <li>.button {</li>
    <li ng-repeat="(key, data) in button.parametres">
            <div class="parametres__key">{{key}}</div>: {{data}};
    </li>
    <li><input id="hiddenInput" type="text"/></li>
    <li>}</li>
</ol>

<script>
    $(function() {
        var availableTutorials = [
            "ActionScript",
            "Boostrap",
            "C",
            "C++",
        ];
        $( "#hiddenInput" ).autocomplete({
            source: availableTutorials,
            autoFocus:true
        });
    });
</script>