<ul>
    <li>
        <div class="col-sm-4 text-right">Border-radius</div>
        <div class="col-sm-8">
            <input ng-model="borderRadius" type="range" min="0" max="100" step="1" value="50">
        </div>
    </li>

    <li>
        <div class="col-sm-4 text-right">Border-size</div>
        <div class="col-sm-8">
            <input type="range" min="0" max="100" step="1" value="50">
        </div>
    </li>

    <li>
        <div class="col-sm-4 text-right">Text</div>
        <div class="col-sm-8">
            <input type="text"/>
        </div>
    </li>
</ul>