@font-face {
  font-family: 'bitstream_vera_sansroman';
  src: url('fonts/vera-webfont.eot');
  src: url('fonts/vera-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/vera-webfont.woff') format('woff'),
  url('fonts/vera-webfont.ttf') format('truetype'),
  url('fonts/vera-webfont.svg#bitstream_vera_sansroman') format('svg');
  font-weight: normal;
  font-style: normal;

}