body {
  background: url("img/background.png");
}

h1 {
  font: 24px "Segoe UI";
  text-align: center;
  text-transform: uppercase;
}

.wrapper {
  background: white;
  max-width: 1000px;
  min-height: 200px;
  margin: 50px auto;
}

.generator {
  font-size: 0;

  div {
    width: 50%;
    display: inline-block;
    font-size: 10px;
  }
}